{%extends 'chatGPT/base.html'%}



{%block content%}

<div class="container">

    
<h3 style="text-align: center;">Ask me anything:</h3>
<form action="" method="post">
    {%csrf_token%}
    <input type="text" class="form-control" name="user_input">
    <button style="margin-left:45%;margin-bottom:5%" type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

{%if response%}
<div style="border: 3px dashed blue; text-align: center;">
    {{response|safe}}
</div>

</div>
{%endif%}


{%endblock%}
